.c-heading{
    padding: 30px;
    text-align: center;
}
.s-service{ 
    background-color: rgb(218, 238, 255);
    padding-left: 3.5%;
    padding-right: 3.5%;
    padding-bottom: 30px;
}
.d-cont{
    background-color: #8facdc;
    border-radius: 5px;
    box-shadow: 0 0 7px #8facdc;
    text-align: center;
    margin: 20px;
    padding: 20px;
    margin-bottom: 40px;
    height: 250px;
}
.rtl.react-multiple-carousel__arrow--left{
    left:auto;
    right:calc(1% + 1px)
}